body{
  margin:0;
  padding:0;
}

.header{
  background-color: gray;
  height: 100px;
  width: 100%;
}
.left-side{
background-color: blue;
  height: 600px;
  width: 20%;
  float:left;
}
.right-side{
  background-color: grey;
  height: 600px;
  width: 20%;
  float:right;
}
.footer{
  background-color: black;
  height: 100px;
  width: 60%;
  bottom:0;
  clear:both;
  margin: auto;
}


/*.header{
  margin: 10px;
  border: 2px solid black ;
  padding: 0px;
  height: 200px;
  background-color: blue;
}
.section{
  margin: 10px;
  border: 2px solid black ;
  padding: 10px;
  height: 200px;
  background-color: red;
}
.content{
  width: 100%;
  height: 100%;
  background-color: orange;
}*/
